@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import 'tailwindcss';

:root {
  --background: #131010;
  --foreground: #ffffff;
  --primary: #f0bb78;
  --secondary: #543a14;
  --accent: #fff0dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: 'Libertinus Sans', Arial, Helvetica, sans-serif;
  --font-mono: 'Libertinus Sans', Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Libertinus Sans', Arial, Helvetica, sans-serif;
}
